.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  min-height: 330px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

@media screen and (max-width: 1280px) {
  .popup__container {
    max-width: 430px;
  }
}

@media screen and (max-width: 520px) {
  .popup__container {
    width: 88.125%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    min-height: 322px;
  }
}