.popup__submit-btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 83.25%;
  height: 50px;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0;
  background-image: url('../../../images/submit-btn.svg');
  background-position: center;
  background-color: transparent;
  opacity: 1;
  transition: opacity .3s linear;
}

.popup__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 520px) {
  .popup__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}